*{
  font-family: helvetica;
  margin: 0;
  text-align: center;

}
body{
  background-color: #1C1C1C;
}

ul{
  background: #B40404;
  top: 0px;

}
li{
  display: inline-block;
  padding: 20px;
  list-style: none;

}
a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: yellow;
}

#fotosPandas{
  display: block;
  margin-top: 20px;
}

.imagen{
  display: inline-block;
}

#barrasMedias{
  display: block;
  margin-top: 20px;
}

#barrasMedias .barra{
  display: inline-block;
  background-color: #B40404;
  width: 300px;
  text-align: center;
  color: white;
  padding: 10px;
}

.barra:hover{
  background-color: white;

}


#textos{
  display: block;
  margin-top: 20px;
}
#textos .articulos{
  color: white;
  display: inline-block;
  width: 500px;
  text-align: justify;
  margin: 10px;
}

.close {
    display: inline;
    position: relative;
    left: 30px;
    color: #B40404;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
